
body{
    background-color: beige;
    
}
#head{
    text-align: center;
}
.class{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
    
}
.text{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
}
#input-element,#currdate{
    font-size: 15px;
    padding :10px 5px;
}
.butt{
    background-color: brown;
    color: azure;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 15px;
    padding :10px 5px;
}
.del{
    background-color: blue;
    color: azure;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 15px;
    padding :10px 5px;
}
